.root {
    background-color: lightblue;
    padding: 15px;
    min height 700px;
    }
.header {
    text-align: center;
}
.main {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.aside {
    background-color: antiquewhite;
    min-height: 280px;
    width: 58%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img {
    width: 200px;
    height: 60px;
    background-color: bisque;
    display: inline-flex;
    flex-direction: row;
}
.img2 {
    background-color: bisque;
    width: 600px;
    height: 60px;
    display: flex;
}
.article {
    background-color: aquamarine;
    min-height: 280px;
    width: 39%;
    text-align: center;
}
.footer {
    background-color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}